<div class="contact-grid">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="gallery-grid">
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/12.png">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Glass Water Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="Water bottle made from heat-resistant, durable borosilicate glass with a protective silicone cover. "
            aria-label="desc" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="18" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$45.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem12()' onclick="location.reload()">Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/4.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control"
            placeholder="BOROSILICATE GLASS WATER BOTTLE WITH PROTECTIVE NEOPRENE SLEEVE" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="Our Faded glass bottles are BPA, BPS, PVC, Lead and Cadmium free." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="18" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$18.95" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem4()' onclick="location.reload()">Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/5.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Floriculture Glass Water Bottle"
            aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="Includes stainless steel cap & fabric carrying strap." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="18.6" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$15.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem5()' onclick="location.reload()">Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
