<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input [(ngModel)]='name' class="form-control mr-sm-2" type="search" placeholder="Enter your name (Last, First)" aria-label="Search" name="search">
  </div> -->
</nav>

<div class="topnav">
  <a href="#">Best Sellers</a>
  <a href="#">Sales</a>
  <a href="#">Categories</a>
</div> 

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item active">
    <a mat-raised-button color="primary" class="nav-link " [routerLink]="['../cart']"><i class="cart fa fa-shopping-cart"></i>Cart {{ items.length }}  </a>
  </li>
</ul>


<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/6.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="TUTU 500 ML" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="Inspired by warrior women crisscrossing the globe in the name of fashion, slinking around London in trusty pink ballet flats," aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="16" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$35.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem6()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/7.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Libbey® Kinetix" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="This sleek glass water bottle by Libbey® helps elevate tabletop water presentation to new levels." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="33" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$13.19" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem7()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card >
      <mat-card-content>
        <img class="cover" src="../../assets/8.jpeg"  >
        <p>
          <label for="id" >Name:</label>
          <input disabled type="text" class="form-control" placeholder="Evolve Water Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="Water bottle with sure-grip and protection sleeve: A protective silicone sleeve is included with the non-toxic, BPA-free 20 oz. Water bottles." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="20" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$8.97" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem8()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card >
      <mat-card-content>
        <img class="cover" src="../../assets/9.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Personalised Glass Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="Drinking the recommended quantity is easy when you serve water in this unique water bottle." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="33" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$16.95" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem9()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/10.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Xtremeglas Hydrate Replacement Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="This Xtremeglas Hydrate Replacement bottle is a direct replacement for the Hydrate line of water bottles if purchased after 12/1/2017." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="32" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$19.99" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem10()' >Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/11.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Oneisall Large Capacity" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="This generously-sized 34oz bottle from ONEISALL boasts a double-walled construction, allowing it to keep cold drinks cold (or hot drinks hot) for up to 24 hours." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="34" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$33.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem11()' >Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/12.png">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Glass Water Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="Water bottle made from heat-resistant, durable borosilicate glass with a protective silicone cover. " aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="18" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$45.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem12()' >Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/13.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Wide Mouth Glass Water Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control" placeholder="This straight, see-through canister gets directly to your point." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="16" aria-label="OZ" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$6.55" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div  class="center">
          <button mat-raised-button color="primary" (click)='addItem13()' >Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
    

  </div>
</div>