.nav-action-container {
  margin: 20px auto;
  width: 90%;
}
.main-nav {
  padding: 10px 5%;
  width: 100%;
  background-color: transparent !important;
}
.contact-button{
  margin-right: 9px;
  float:right;
}
.contact-grid {
  display:grid;
  margin: 20px auto;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}
.edit-mode {
  background-color: #ffe503 !important;
}

.brand {
  height: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* height: 33px; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}