<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
      <a class="navbar-brand" href="#">
        <img class="brand" src="../../../img/diolty-logo.png" alt="brand">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['launch-page']">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['sales']">Login/My Account<span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" [routerLink]="['invoice']">Cart<span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="nav-item active">
            <a class="nav-link" [routerLink]="['cart']">Cart <span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="nav-item active">
            <a class="nav-link" (click)="about()">About</a>
          </li> -->
          
        </ul>
        
      </div>
      <ul>
        <ol>
          <a mat-raised-button color="warn" class="nav-link" [routerLink]="['../cart']">
            <i class="cart fa fa-shopping-cart"></i> Cart {{items.length}}</a>
          </ol>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<ul>
  <li><a [routerLink]="['launch-page']">Best Sellers</a></li>
  <li><a [routerLink]="['sales']">Sales</a></li>
  <li><a [routerLink]="['sixteen']">16 OZ.</a></li>
  <li><a [routerLink]="['eighteen']">18 OZ.</a></li>
  <li><a [routerLink]="['twenty']">20 OZ.</a></li>
  <li><a [routerLink]="['thirtytwo']">32 OZ.</a></li>
  <li><a [routerLink]="['thirtythree']">33 OZ.</a></li>
  <li><a [routerLink]="['thirtyfour']">34 OZ.</a></li>
</ul>