<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input [(ngModel)]='name' class="form-control mr-sm-2" type="search" placeholder="Enter your name (Last, First)" aria-label="Search" name="search">
  </div> -->
</nav>

<!-- <div class="topnav">
  <a href="#">Best Sellers</a>
  <a href="#">Sales</a>
  <a href="#">Categories</a>
</div>  -->

<!-- <ul class="nav justify-content-end nav-action-container">
  <li class="nav-item active">
    <a mat-raised-button color="primary" class="nav-link " [routerLink]="['../cart']"><i class="cart fa fa-shopping-cart"></i>Cart {{ items.length }}  </a>
  </li>
</ul> -->


<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/9.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Personalised Glass Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="Drinking the recommended quantity is easy when you serve water in this unique water bottle."
            aria-label="desc" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="33" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$16.95" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem9()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/7.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Libbey® Kinetix" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="This sleek glass water bottle by Libbey® helps elevate tabletop water presentation to new levels."
            aria-label="desc" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="33" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$13.19" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem7()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
