<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/6.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="TUTU 500 ML" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="Inspired by warrior women crisscrossing the globe in the name of fashion, slinking around London in trusty pink ballet flats,"
            aria-label="desc" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="16" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$35.00" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem6()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img class="cover" src="../../assets/13.jpg">
        <p>
          <label for="id">Name:</label>
          <input disabled type="text" class="form-control" placeholder="Wide Mouth Glass Water Bottle" aria-label="id">
        </p>
        <p>
          <label for="description">Description:</label>
          <input disabled type="text" class="form-control"
            placeholder="This straight, see-through canister gets directly to your point." aria-label="desc"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="OZ">OZ</label>
          <input disabled type="text" class="form-control" placeholder="16" aria-label="OZ"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input disabled type="text" class="form-control" placeholder="$6.55" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button color="primary" (click)='addItem13()'>Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>


  </div>
</div>
